//Custom Variables
.to-do-nav {
    background-color: #112e5c;
    border-radius: 0;
    font-weight: bold;
    margin-bottom: 0;
    border: 0;
}
.navbar-brand > img {
    display: block;
    height: 27px;
    padding-bottom: 5px;
}
.navbar-buffer {
    background-color: #3667ae;
    color: white;
    height: 130px;
}
.nav-tabs {
    margin-top: -44px;
    li {
        width: 50%;
        text-align: center;
        a {
            border-radius: 0;
            background-color: #27508d;
            color: white;
        }
        a:hover {
            background-color: #112e5c;
            border-color: #112e5c;
        }
        a:focus {
            background-color: #112e5c;
            border-color: #112e5c;
        }
    }
    li.active {
        a {
            background-color: white;
            color: black;
        }
        a:focus {
            background-color: white;
            border-color: white;
        }
        a:hover {
            background-color: white;
            border-color: white;
        }
    }
}
.tab-body {
    background-color: white;
    padding-left: 15px;
    padding-right: 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    label {
        padding: 5px 5px 5px 0;
    }
}
.footer-content {
    background-color: #494949;
    color: white;
    padding: 5px;
    margin-top: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    img {
        height: 22px;
        margin: 0 50px 0 15px;
    }
}
.form-task {
    margin-top: 45px;
    margin-bottom: 45px;
}
.form-control {
    height: 50px;
}
.task-list {
    padding: 15px;
    border: 4px;
    border-color: #3667ae;
    border-style: solid;
    margin-bottom: 1px;
    .fa-times-circle-o {
        float: right;
        font-size: 20px;
        color: #27508d;
    }
    .fa-times-circle-o:hover {
        color: #112e5c;
    }
    .fa-chevron-circle-down {
        font-size: 20px;
        color: #27508d;
        margin-right: 7px;
    }
    .fa-chevron-circle-down:hover {
        color: #112e5c;
    }
    .fa-chevron-circle-right {
        font-size: 20px;
        color: #27508d;
        margin-right: 7px;
    }
    .fa-chevron-circle-right:hover {
        color: #112e5c;
    }
}
.group-task {
    margin-top: 30px;
    margin-bottom: 30px;
}
#load {
    img {
        width: 100%;
        padding: 300px;
    }
}
#tabs {
    padding-left: 0;
    padding-right: 0;
    background-color: white;
}
#right-tab {
    margin-right: 0;
    margin-left: 0;
}
#left-tab {
    margin-left: 0;
    margin-right: 0;
}
#task-submit {
    padding: 10px;
    margin-top: 15px;
    background-color: #27508d;
}
#task-submit:hover {
    background-color: #112e5c;
}
#task-name {
    width: 90%;
    margin: 25px;
}
