<div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8 group-task">
        <div *ngFor="let task of tasks" class="task-list">
            <div class="row">
                <div (click)="task.blnShow = !task.blnShow" class="col-xs-10"><i class="fa" [ngClass]="{'fa-chevron-circle-down': task.blnShow, 'fa-chevron-circle-right': !task.blnShow}" aria-hidden="true"></i>{{ task.task_name }}</div>
                <div class="col-xs-2"><i class="fa fa-times-circle-o" aria-hidden="true" (click)="removeTask(task)"></i></div>
                <to-do-detail [task]="task" *ngIf="task.blnShow" (updateTask)="updateTask($event)" (keyDownFunction)="keyDownFunction($event)"></to-do-detail>
            </div>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>
